In [ ]:
#Import Necessary Libraries
import pandas as pd
import os
import glob
from dotenv import load_dotenv
import psycopg2

#### Data Extraction

In [ ]:
#Load Master Data
employee_df = pd.read_csv('dataset/raw/EmpMaster.csv', header=0, dtype=str)
agency_df = pd.read_csv('dataset/raw/AgencyMaster.csv', header=0, dtype=str)
jobtitle_df = pd.read_csv('dataset/raw/TitleMaster.csv', header=0, dtype=str)

In [ ]:
agency_df.head()

In [ ]:
# Define directory containing payroll CSV files
payroll_dir = "dataset/payroll_data"

# Find all payroll CSV files dynamically
payroll_files = glob.glob(os.path.join(payroll_dir, "nycpayroll_*.csv"))

# Check if any files were found
if not payroll_files:
    raise ValueError("No payroll files found in the directory!")

# Function to Load and Merge Payroll Data
def load_payroll_data(files):
    dataframes = [pd.read_csv(file) for file in files]  # Read all CSV files into Pandas DataFrames
    merged_df = pd.concat(dataframes, ignore_index=True)  # Concatenate all dataframes
    #merged_df.drop_duplicates(subset=["EmployeeID", "FiscalYear"], inplace=True)  # Drop duplicate rows
    return merged_df

# Load and process payroll data
payroll_df = load_payroll_data(payroll_files)

# Show first few rows for validation
display(payroll_df.show(205))
#print(payroll_df.info())  # Display DataFrame structure

In [26]:
display(payroll_df)

,FiscalYear,PayrollNumber,AgencyID,AgencyName,EmployeeID,LastName,FirstName,AgencyStartDate,WorkLocationBorough,TitleCode,TitleDescription,LeaveStatusasofJune30,BaseSalary,PayBasis,RegularHours,RegularGrossPaid,OTHours,TotalOTPaid,TotalOtherPay
0,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,10001,GEAGER,VERONICA,9/12/2016,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
1,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,149612,ROTTA,JONATHAN,9/16/2013,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
2,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,206583,WILSON II,ROBERT,4/30/2018,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
3,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,199874,WASHINGTON,MORIAH,3/18/2019,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,87900.95,0.00,0.00,-3202.74
4,2020,17,2120,OFFICE OF EMERGENCY MANAGEMENT,58036,KRAWCZYK,AMANDA,5/15/2017,BROOKLYN,40447,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,83976.54,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,2021,868,2141,DEPT OF CITYWIDE ADMIN SVCS,52830,HARDING,ARCHIBALD,5/31/2016,MANHATTAN,40782,STATIONARY ENGINEER,ACTIVE,508.8,per Day,2080.0,132288.00,901.25,90004.07,36369.10
197,2021,57,2012,FIRE DEPARTMENT,174178,MCGEARY,JOSEPH,8/19/1990,BROOKLYN,40207,CAPTAIN,ACTIVE,135511.0,per Annum,2080.0,146527.13,833.63,77912.32,34206.86
198,2021,56,2010,POLICE DEPARTMENT,302174,CHENG,CHRISTOPHER,6/30/1998,MANHATTAN,40579,LIEUTENANT D/A SPECIAL ASSIGNMENT,ACTIVE,149068.0,per Annum,2080.0,147066.63,950.08,90551.25,20495.26
199,2021,56,2010,POLICE DEPARTMENT,229552,ORTEGA,MANUEL,2/12/2018,MANHATTAN,40782,STATIONARY ENGINEER,ACTIVE,508.8,per Day,2080.0,131779.20,1085.25,102184.53,24136.67
200,1999,45,2010,POLICE DEPARTMENT,229552,ORTEGA,MANUEL,2/12/2018,MANHATTAN,40782,STATIONARY ENGINEER,ACTIVE,508.8,per Day,2080.0,131779.20,1085.25,102184.53,24136.67